.page {
    max-width: 1170px;
    height: auto;
    margin: 0px auto;
    text-align: left;

    padding-top:0px;
    margin-top:0px;
}

h3 { 
    color: #0699fa;
    margin:0px;
    padding:0px;
}

hr {
    background: #0699fa;
    border: 0; height: 1px;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.electric-title {
    font-weight:bold;
    font-size:22px;
    color:#aaa;
    padding-top:20px;
}

.power-value {
    font-weight:bold; 
    font-size:100px; 
    color:#0699fa; 
    line-height: 1.1;
}

.kwh-value {
    font-weight:normal; 
    font-size:22px; 
    color:#0699fa; 
    padding-top:15px;
}

.midtext {
    font-weight:normal; 
    font-size:22px; 
    color:#0699fa;
    padding-top:2px;
    padding-bottom:2px;
}



p {
    color:#aaa;
}

.a2 {
    color: #ccc;
    font-size:18px;
    line-height:22px;
}

h2 {
    color:#fff;
}

.app-config {
width:30%; float:left
}

.appconfig-box {
    border: 1px solid #fff;
    margin-bottom:8px;
    padding:10px;
    color:#fff;
}

.appconfig-title {
    color:#0699fa;
}

.appconfig-description {
    width:70%;
    float:left;
}

.appconfig-description-inner {
    padding-right:20px;
    color: #ccc;
    font-size:18px;
    line-height:22px;
}

.feed-select-div {
    margin:0px;
    margin-top:5px;
    width:100%;
}

select {
    background-color:#333;
    color:#fff;
    margin:0px;
    width:85%;
}

input[type=text] {
    background-color:#333;
    color:#fff;
    margin:0px;
    margin-top:5px;
    width:90%;
}

.visnavblock {
    color:#0699fa;
    font-size:18px;
}

.visnav:hover {
    color:#0699fa;
    cursor: pointer;
}

.visnav {
    margin-right:4px;
    padding-left:8px;
    padding-right:8px;
    min-width:20px;
    background-color:rgba(6,153,250,0.1);
    line-height:28px;
    float:left;
    text-align:center;
}

.appbox {
    width:20%;
    text-align:center;
    padding:10px;
    vertical-align:top;
}

.appbox-title {
    color: #aaa;
    font-weight:bold;
    font-size:20px;
    padding-bottom:15px;
}

.appbox-value {
    color: #fff;
    font-weight:bold;
    font-size:36px;
}

.appbox-units {
    color: #fff;
    font-weight:bold;
    font-size:16px;
}

.tooltip-item {
}

.tooltip-title {
    color: #aaa;
    font-weight:bold;
    font-size:12px;
}

.tooltip-value {
    color: #fff;
    font-weight:bold;
    font-size:14px;
}

.tooltip-units {
    color: #fff;
    font-weight:bold;
    font-size:10px;
}

.ajax-loader{
    width:32px;
    height:32px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-16px; /* negative half the size of height */
    margin-left:-16px; /* negative half the size of width */
}

/* ----------------------------------------------------------
APP
------------------------------------------------------------*/
.block-bound {
  color:#fff;
  background-color: #ccc;
}

.block-title {
  font-weight:bold;
  padding:10px;
}

.bluenav {
  float:right;
  display:block;
  border-left: 1px solid rgba(255,255,255,0.5);
  font-weight:bold;
  font-size:14px;
  padding:11px;
  cursor:pointer;
  min-width:30px;
  text-align:center;
}

.bluenav:hover {
  background-color:rgba(255,255,255,0.2);
}

.title1 {
  font-weight:bold;
}

.value1 {
  font-weight:bold;
  font-size:32px;
  padding-top:10px;
  padding-bottom:10px;
}

.units1 {
  font-weight:normal;
  padding-left:4px;
  display: inline-block;
  font-size:18px;
}

/* ---------------------------------------------------------
 RESPONSIVE
----------------------------------------------------------*/
@media (max-width: 450px) {
  .row { padding:10px; }
  
  .title1 { font-size:12px }
  .value1 { font-size:18px }
  
  .bluenav { font-size:12px; padding:8px; min-width:15px; }
  .block-title { font-size:12px; padding:8px; }
  .dmy {display:none}
  .legendLabel { font-size:10px; }
}
    
@media (min-width: 450px) and (max-width: 960px) { }
@media (min-width: 960px) { }

