.electric-title {
    font-weight: bold;
    font-size: 22px;
    color: #44b3e2;
}

.power-value {
    font-weight: bold;
    font-size: 52px;
    color: #44b3e2;
    line-height: 1.1;
}

.halfhour-value {
    font-weight: bold;
    font-size: 42px;
    color: #44b3e2;
    line-height: 1.1;
}

.units {
    font-size: 75%;
}

.block-bound {
    background-color: rgb(68, 179, 226);
}

.bluenav-active {
    background-color: rgba(255, 255, 255, 0.2);
}

select.time-select {
    margin: 4px 5px 0px 0px;
    float: right;
    background-color: #44b3e2;
    color: #fff;
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

@media(max-width: 610px) {
    select.time-select {
        margin: 4px 0px 0px 5px;
        float: none;
    }

    #history-title {
        display: none;
    }
}
