#app-setup {
  padding:20px;
  display:none; 
}

.appconfig-box {
  margin-bottom:8px;
  padding:10px;
}

.appconfig-title {
  color:#0699fa;
}

.appconfig-description {
  width:70%;
  float:left;
}

.appconfig-description-inner {
  padding-right:20px;
  font-size:18px;
  line-height:22px;
}
.app-config {
  width:30%;
  float:left
}

.app-config select {
  margin:0px;
  width:85%;
}

.app-config input[type=text] {
  margin:0px;
  margin-top:5px;
  width:90%;
}

.app-config .feed-auto {
	font-size:12px;
}

.app-config .feed-select-div {
  margin:0px;
  margin-top:5px;
  width:100%;
}

