#app-block {
    padding: 0 0.7rem;
}
/*-------------------------------------*/

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    color: inherit;
    font-weight: inherit;
}
/*-------------------------------------*/

#buttons {
    padding: .22rem 0;
    border-bottom: 1px solid #333;
    margin-bottom: .4rem;
}
#buttons .btn{
    opacity: .6;
    transition: opacity .3s linear;
    color: #aaa!important;
}
#buttons .btn:hover,
#buttons .btn:active{
    opacity: 1;
}
#buttons .btn.active{
    color: white!important;
    opacity: .8;
    font-weight: bold;
    text-decoration: underline;
}
.power-value {
    line-height: 1.1;
}
.chart-placeholder > *{
    height: 23rem;
}
.chart-placeholder.double {
    width: 100%;
}
.chart-placeholder.double > *{
    height: 10rem;
    margin-bottom: 1rem;
    width: 100%;
}
/* fonts */
.display-4{
    font-size: 3.25rem;
}
.display-3{
    font-size: 4.5rem;
}
.display-2{
    font-size: 5.5rem;
}
[class*="display-"]{
    line-height: 1.2;
}
.font-weight-normal{
    font-weight: normal!important;
}

body.app .container-fluid {
    padding-bottom: 1rem!important;
}

.btn[disabled],
.btn[disabled]:hover {
    color: #616161;
    opacity: .8;
    background: rgba(6, 153, 250, 0.06);
}

.visnavblock {
  color:#0699fa;
  font-size:18px;
}

.visnav {
  background-color:rgba(6,153,250,0.1);
  flex-grow: 1;
}

.visnav:focus,
.visnav:active,
.visnav:hover {
  color:#0699fa;
  text-decoration: none!important;
}


/*-------------------------------------*/

#breakdown {
  margin: 0 auto;
}

.appbox {
  text-align: center;
  vertical-align: top;
}
.appbox .appbox-value {
    line-height: 1.3em!important;
}

/*-------------------------------------*/

.ajax-loader{
  width:32px;
  height:32px;
  position:fixed;
  top:50%;
  left:50%;
  margin-top:-16px; /* negative half the size of height */
  margin-left:-16px; /* negative half the size of width */
}

/*-------------------------------------*/

#footer {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-fixed-top {
  margin-left: 0px;
  margin-right: 0px;
}

#wrap main.content-container{
  padding-bottom: 0rem!important;
}
/** MOBILE FIRST
   as screen gets larger the css below overwrites the properties above */
/*-------------------------------------*/

/* 
   Extra small devices (portrait phones, 320px and up)
*/
@media (min-width: 320px) {
 
}
/* 
   Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
    .visnav {
        flex-grow: 0;
        min-width: 3em;
    }
}
/* 
   Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
   
}
/* 
   Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
    .chart-placeholder > *{
        height: 20rem;
    }
    .chart-placeholder.double{
        width: 48.5%;
    }
    .chart-placeholder.double > *{
        height: 18.77rem;
        width: 100%;
    }
    #breakdown {
        max-width: 80%;
    }
}
/* 
   Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
    #breakdown {
        max-width: 34rem;
    }
}
