/* -------------------------------------------------------------------
Config
--------------------------------------------------------------------*/
.app-config-box {
  background-color: #ddd;
  border: 1px solid #d1d1d1;
  color: #333;
}
.app-config-description-inner {
  padding-right: 20px;
  color: #333;
}

.app-config select {
  background-color: #fff;
  color: #666;
}
.app-config input[type=text] {
  background-color: #fff;
  color: #666;
}

.app-config .feed-auto {
  color: #999;
}

/* -------------------------------------------------------------------
Application
--------------------------------------------------------------------*/
body {
  background-color: #f5f5f5;
}
#app-block {
  padding:10px;
}

.app-title {
  font-weight:bold;
  font-size:22px;
  color:#44b3e2;
}

.app-title-value {
  font-weight:bold;
  font-size:52px;
  color:#44b3e2;
  line-height: 1.1;
}

.block-bound {
  color: #fff;
  background-color: #ccc;
}

.block-title {
  font-weight:bold;
  padding:10px;
}

.appnav {
  float:right;
  display:block;
  border-left: 1px solid rgba(255,255,255,0.5);
  font-weight:bold;
  font-size:14px;
  padding:11px;
  cursor:pointer;
  min-width:30px;
  text-align:center;
}

.appnav:hover {
  background-color:rgba(255,255,255,0.2);
}

.col1 {
  width:100%;
}
.col1-inner { padding:10px; }

.col2 {
  width:50%;
  float:left;
}
.col2-inner { padding:10px; }

.container-fluid { padding:0 }

.navbar-fixed-top {
    margin-left: 0px;
    margin-right: 0px;
}

#footer {
	background-color: #eee;
    margin-left: 0px;
    margin-right: 0px;
}

@media (max-width: 767px) {
  body {padding:0};
}

@media (max-width: 450px) {
  .row { padding:10px; }
  .appnav { font-size:12px; padding:8px; min-width:15px; }
  .block-title { font-size:12px; padding:8px; }
  .dmy {display:none}
  
  #app-block { padding:5px; }
  .col2 { width:100%; }
  .col1-inner { padding:5px; }
  .col2-inner { padding:5px; }
}

@media (min-width: 450px) and (max-width: 960px) { 
  .col2 { width:100%; } 
}

@media (min-width: 960px) { }
