.title1 {
  font-weight:bold;
}

.value1 {
  font-weight:bold;
  font-size:32px;
  padding-top:10px;
  padding-bottom:10px;
}

.units1 {
  font-weight:normal;
  padding-left:4px;
  display: inline-block;
  font-size:18px;
}
.col1-inner{
    display: flex;
    flex-direction: column;
}

@media (max-width: 450px) {  
  .title1 { font-size:12px }
  .value1 { font-size:18px }
}

.ledgend-box {
    margin:2px;
    padding:2px;
    width:10px;
    background-color:#aaa;
}

.ledgend-box-in {
    width:10px;
    height:10px;
    background-color:#ccc;
}
